*{
margin:0;
padding:0;
}

html, body{
width:100%;
height:100%;
}

#big-container{
border:solid 1px gray;
overflow:hidden;
position:relative;
}

.loop{
background:#C9C9C9;
border:solid 1px gray;
position:absolute;
top:0;
left:0;
}

.small-wrapper{
position:relative;
}

#big-container img{
position:relative;
}